@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700;900&family=Caveat:wght@700&display=swap");

body {
  box-sizing: content-box;

  min-height: 100vh;

  background: $light-bg;
  color: $text;

  font-family: "Alegreya Sans SC", sans-serif;
}

footer {
  position: fixed;
  bottom: 0px;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;

  padding: 8px;

  background: $bg;

  & a {
    display: inline-block;

    padding: 2px 8px;
    margin: 0 8px 0 16px;

    border-radius: 4px;

    text-decoration: none;

    background: $dark-bg;
    color: $text-accent;
  }
}
