body {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    display: inline-block;
}

input + p {
    display: inline-block;
}

input:checked + p {
    text-decoration: line-through;
    background: rgba(0,0,0,0.3);
}