@import "./../_variables";

 
  body {

    margin: 0; /* Important! */

  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .wrapper {
    margin: 0 auto;
    padding: 0px 0px 48px;
    max-width: 500px;
    font-size: 20px;
    line-height: 2;
    position: relative;
  }
  
  a {
    text-decoration: none;
    color: $dark-bg;
    font-weight: bold;

  }
  
  .highlight {
    transition: all 0.2s;
    border-bottom: 2px solid white;
    position: absolute;
    top: 0;
    background: white;
    left: 0;
    z-index: -1;
    border-radius: 20px;
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .menu {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 10px 0;
    background: rgba(0,0,0,0.2);
    border-radius: 20px;
  }
  
  .menu a {
    display: inline-block;
    padding: 5px;
    margin: 0 20px;
    color: black;
  }
  