$bg: #187795;
$light-bg: #259ddf;

$text: #BBE6E4;

$text-accent: #efca08;
$accent: #e09f2f;
$light-accent: #efca08;

$strong-accent: #df3800; 



// https://coolors.co/187795-2589bd-efca08-f49f0a-f08700