@import "~normalize.css";

@import "./_variables";

body {
  box-sizing: content-box;

  min-height: 100vh;

  color: $text;

  font-family: "Alegreya Sans SC", sans-serif;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: calc(100vh - 1.15em - 16px);

  background: $light-bg;

  &__face {
    position: relative;

    height: 360px;
    width: 360px;

    border: 20px solid $text;
    border-radius: 50%;

    box-shadow: 3px 3px 2px black;
  }

  &__hand {
    $hand-width: 4px;

    height: 160px;
    width: $hand-width;

    background: black;

    position: absolute;
    top: calc(180px - #{$hand-width});
    left: calc(180px - #{$hand-width} / 2); //to offset hand width

    transform-origin: 50% 2px;

    &--second {
      width: calc(#{$hand-width} / 2);
      height: 170px;
      left: calc(180px - (#{$hand-width} / 2) / 2); //to account for hand width

      transition: all 0.1s cubic-bezier(0.46, 1.91, 0.4, 1.01);

    }

    &--minute {
        // no special CSS needed
    }

    &--hour {
      width: calc(#{$hand-width} * 1.5);
      height: 120px;

      left: calc(180px - (#{$hand-width} * 1.5) / 2); //to account for hand width

    }
  }
}

footer {
  position: absolute;
  bottom: 0px;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;

  padding: 8px;

  background: $bg;

  & a {
    display: inline-block;

    padding: 2px 8px;
    margin: 0 8px 0 16px;

    border-radius: 4px;

    text-decoration: none;

    background: $light-bg;
    color: $text-accent;
  }
}
