@import "~normalize.css";

@import "./_variables";

@import "./modules/base.scss"; // body and footer styling

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editor {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    max-height: 1200px;

    padding: 3% 5% 5%;

    &__header {
        margin: 0px;

        font-size: 3em;

        color: $text-accent;
    }

    &__controls {
        margin: 24px 0px;

        & label {
            margin: 0px 8px 0px 24px;

            font-size: 1.5em;

        }
    }
}