@import "~normalize.css";

@import "./_variables";

@import "./modules/base.scss"; // body and footer styling + fonts

:root {
    --base-color: #eed13f;
    --padding: 10px;
    --blur: 10px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editor {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    max-height: 1200px;

    padding: 3% 5% 5%;

    &__header {
        margin: 0px;

        font-size: 3em;


    }

    &__hl {
        color: var(--base-color);
    }

    &__controls {
        margin: 16px 0px 24px ;

        & label {
            margin: 0px 8px 0px 24px;

            font-size: 1.5em;

        }
    }

    &__photo {
        background: var(--base-color);
        padding: var(--padding);
        filter: blur(var(--blur));
    }
}